@page
@model FreeBilling.Web.Pages.IndexModel
@{

    //var productName = "FreeBilling";
    //throw new InvalidOperationException("peepopo");
    ViewBag.Title = "Home Page";
}

<h1> Free Billing</h1>
<p>Free Billing is  solution to billing for small companies and individuals</p>